.internships-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;/* Allow the content to scroll if it overflows */
}

.internships-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
}

.search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 70%;
    justify-content: center;
}

.internships-list {
    display: flex;
    flex-wrap: wrap; /* Ensure the internships are displayed horizontally */
    gap: 20px; /* Space between internship cards */
    justify-content: center;
    width: 70%;
    margin-top: 20px;
    overflow-x: hidden; /* Avoid horizontal scrolling */
}

.internship-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px; /* Fixed width for each internship card */
    min-height: 320px; /* Adjusted height to fit all elements */
    height: auto; /* Allow height to adjust based on content */
    box-sizing: border-box;
}

.internship-title {
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
    color: #1976d2;
    margin-bottom: 8px;
}

.internship-title:hover {
    text-decoration: underline;
}

.internship-details {
    font-size: 1rem;
    color: #555;
    margin-bottom: 16px;
}

.view-details-button {
    background-color: #1976d2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Push the button to the bottom of the card */
}

.view-details-button:hover {
    background-color: #1565c0;
}

.add-button, .logout-button {
    margin-top: 15px;
}

/* Ensure responsiveness */
@media (max-width: 768px) {
    .internships-title {
        font-size: 2rem;
    }
    .internship-title {
        font-size: 1.5rem;
    }

    .internship-card {
        width: 100%; /* Ensure cards take full width on small screens */
        min-height: 250px; /* Decrease height on small screens */
    }

    .view-details-button {
        margin-top: 20px; /* Add some margin for better spacing */
    }
}