body, html {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling */
}

.students-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto; /* Allow the content to scroll if it overflows */
}

.students-list {
    display: flex;
    flex-wrap: wrap; /* Ensure the student are displayed horizontally */
    gap: 20px; /* Space between internship cards */
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    overflow-x: hidden; /* Avoid horizontal scrolling */
}

.student-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px; /* Fixed width for each internship card */
    min-height: 320px; /* Adjusted height to fit all elements */
    height: auto; /* Allow height to adjust based on content */
    box-sizing: border-box;
}

/* Ensure responsiveness */
@media (max-width: 768px) {
    .student-card {
        width: 100%; /* Ensure cards take full width on small screens */
        min-height: 250px; /* Decrease height on small screens */
    }
}